*{
    margin: 0;
    padding: 0;

}
ul{
    list-style:none;
}
.banner{
    background:#ff2f7c;
    
}
.banner img{
    margin: 0 auto;
    
    display:block;
}
#header{
    background: #f2f2f2;
    height:41px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);

}
.wrapper{
    width: 1230px;
    background: red;
    margin: 0 auto;
    height: 32px;

}
