*{
    margin: 0;
    padding: 0;

}
ul{
    list-style:none;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
.banner{
    background:#ff2f7c;
    
}
.banner img{
    margin: 0 auto;
    
    display:block;
}
#header{
    background: #f2f2f2;
    height:41px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);

}
.wrapper{
    width: 1230px;
    /* background: red; */
    margin: 0 auto;
    height: 32px;

}
.header-login{
    height: 41px;
    line-height: 41px;
    font-size: 12px;
    float: left;
}
.header-login span,.header-login a{
    color: #999999;
}
.header-login a{
    padding: 20px;
}
.header-login a:hover{
    color: #FF0036;
}
.header-list li{
    float: right;
    line-height: 41px;
    padding:0 15px 0 20px;
}
.header-list li a{
    color: #999;
}
header.header-list a:hover{
    color: #FF0036;
}
